<!DOCTYPE html>
<html>
  <head>
    <title>OneWayTicket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="nav nav-pills">
      <li role="presentation" class="active">
        <%= link_to "Log In", new_user_session_path %>
      </li>
      <li role="presentation" >
        <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      </li>
    </ul>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
